*  {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section  {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid blue;
}

#ok  {
    width: 100%;
}
input[type="text"]  {
    width: 70%;
}

#saudacoes  {
    text-align: center;
}

.jogadores  {
    display: flex;
    gap: 3rem;
}
.jogadores div  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#erro1, #erro2  {
    display: none;
}

button#reiniciar  {
    text-align: center;
}



